.post-header {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.post-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.post-author {
  color: #666;
  font-size: 16px;
}

.post-timestamp {
  color: #999;
  font-size: 14px;
}
